{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "DATABASE_URL": "postgresql://<user>:<password>@<host>:5432/<db>?sslmode=require"
  },
  "Host": {
    "CORS": "*"
  }
}
